<link rel='stylesheet' href='/stylesheets/login.css' />
<br>
<div id="flex-container">
  <form>
    <br>
    <h4>Member Login</h4><br>
    <div class="form-group">
      <input type="text" class="form-control" id="usernameLogin" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">LOGIN</button>
    <br>
  </form>
  <div id="inner"></div>
</div>
<script src="/javascripts/login.js"></script>