<link rel='stylesheet' href='/stylesheets/register.css' />
  <br>
<div id="flex-container">
  <form>
    <br>
    <h4>Register</h4><br>
    <div class="form-group">
      <input type="text" class="form-control" id="usernameReg" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="passwordReg" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <br>
  </form>
  <div id="inner"></div>
</div>
<script src="/javascripts/reg.js"></script>